
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*Estilo background*/

body{
  /*background-color:rgb(229, 247, 242);*/
  background-color:white;
  font-family: 'Poppins', sans-serif;
  font-size:10px;
  color:#3e3e3f;
  padding-top:5%; /* para poder ver los botones de acceso temporal*/
  overflow-x: hidden;
}
.navbar-wfh, .container-body{
    /*background: rgb(229, 247, 242);*/
    background:white;
    padding-top: 0;
    padding-bottom:0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.navbar-inverse {
  z-index: 10; 
  background-color: #1a1a1a;
  box-shadow: 0 0 3px 3px #1a1a1a;
}

.navbar-brand {height: auto; padding: 0.5em;}

.container-fluid{
  margin-right: 7%;
}

/*Estilos botones*/
.btn-primary-wfh , .btn-primary-wfh :hover, .btn-primary-wfh :active, .btn-primary-wfh :visited, .btn-primary-wfh :focus, .btn-primary-wfh:active:focus {
    background-color: rgb(113, 159, 176);
    border-color:rgb(113, 159, 176);
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-right: 1.5em;
    padding-left:1.5em;
    margin-bottom: 0.8em;
    margin-left: 2.5em;
    letter-spacing: 0.5px;
    color:#ffffff;
    box-shadow: 0 0 4px 3px rgb(212, 241, 243);
    font-family: 'Poppins', sans-serif;
}
.btn-primary-wfh:active:focus{
    background-color: rgb(174, 225, 225);
}
.btn-primary-wfh:hover{
    background-color:rgb(117, 184, 168);
}

.Tag {
  background-color: rgb(113, 159, 176);
  border-color:rgb(113, 159, 176);
}

.Tag:active , .Tag:hover{
 /* background-color:rgb(229, 247, 242);*/
 background-color:whitesmoke;

} 

/*.btn-primary-oferta: pendiente añadir estilos igual al resto de botones pero aumentando el margin para que no se quede debajo de la navbar*/

/*Estilo Cards*/
.card-home{/*para elevar las cards*/
    margin-top: 0%;
    background-color: #f0e9e9;/* para poner fondo de puntito las dos propiedades de background*/
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a5e8e8' fill-opacity='0.53' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Poppins', sans-serif;
    color:#525253;
    box-shadow: 0 0 4px 3px rgb(247, 226, 226);
    letter-spacing: 1px;   
}
.card-title{
  font-family: 'Poppins', sans-serif;

}
.card-home{
    transition:0.5s;
    cursor:pointer;
  }
  .card-title{  
    transition:1s;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor:pointer;
  }
  .card-title i{  
    font-size:2em;
    transition:1s;
    cursor:pointer;
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
  }
  .card-home:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-home::before, .card-home::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card-home::before {
    transform-origin: left top;
  }
  .card-home::after {
    transform-origin: right bottom;
  }
  .card-home:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }
  .card-text{
    margin-top:20px ;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    color:#3e3e3f;
    font-size: small;
  }
  .card-empresa  {
  
    font-family: 'Poppins', sans-serif;
    color:#3e3e3f;
    padding-bottom: 0.8em;
      letter-spacing: 1px;
      font-size: medium;
  }
  
  .card-usuario {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 0.8em;
    color:#3e3e3f;
      letter-spacing: 1px;
      font-size: medium;
  
  }
  .card-text{
    margin-bottom:40px;
    
  }
  .puesto{
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    color:#3e3e3f;
    text-shadow: rgb(146, 146, 146) -1px 1px,rgb(236, 235, 235) -2px 2px;

  }
  .requisitos{
    text-shadow: rgb(190, 188, 188) -1px 1px,rgb(236, 235, 235) -2px 2px;
  }
  .empresa{
    font-size: medium;
  }
  .detalle{
    margin-top:20px ;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    color:#3e3e3f;
    font-size: small;
  }
  .ultimapublicacion{
    margin-top: 40px;
  }

  .card-detalleOferta{
    padding-top: 8%;
  }
  .card-body-detalleOferta{
    background-color: #f0e9e9;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a5e8e8' fill-opacity='0.53' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    padding: 2em;
    margin-top:2em;
  }
 
  .card-header {
    background-color:#cbeee6;
    color:#3e3e3f;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    text-shadow: rgb(146, 146, 146) -1px 1px,rgb(236, 235, 235) -2px 2px;
    padding-top: 0.5em;
    padding-bottom:0.5em;
  }
  .card-header-det{
    
    color:#3e3e3f;
    font-size: 1.6em;
    font-family: 'Poppins', sans-serif;
    text-align: start;
    padding-right: 4em;

   
  }

  .home-texto{
    margin-top: 3em;
    font-size: 2em;
    color:#3e3e3f;
   
  }

  
.textocv{
  padding:0.9em;
  margin-bottom: 0;
  padding-left: 2em;
}

.card-body-cv{
  background-color: #f0e9e9;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a5e8e8' fill-opacity='0.53' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}
  /*Estilo footer*/

  
.footer .row, .col , .col-12 {
    margin-top: 5%;
}
.iconoSocial{
  margin-right: 2em;
  padding-top: 10px;
}
footer {
  background-image: url(../img/footerImage.png);
  background-size:cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif, bold;
  margin-right: 6rem;
  margin-left: 6rem;
  font-size: 1.5em;
}
.list, .nav-link, a{
  margin-right: 2.5em;
  color:rgb(37, 37, 37);
  font-size: 1em;
}

.text-muted-copyright{
  font-size: 9px;
  color: black;
  margin-right: 35px;
}

/*BANNER USUARIO*/

.jumbotron-fluid-text-center-usuario {
  background-image: url(../img/bannerusuario.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  
}
@supports(object-fit: cover){
  .box img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.display-4-titulo-fluid{
  padding-top: 6em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-shadow: rgb(185, 218, 233) -1px 1px, rgb(15, 14, 14) -2px 2px, rgb(185, 218, 233) -3px 3px, rgb(185, 218, 233) -4px 4px, rgb(185, 218, 233) -5px 5px;
  color: rgb(76, 147, 158);
  font-size: 3em;
  -webkit-animation: display-4-titulo-fluid 1.5s ease-in-out infinite alternate both;
	        animation: display-4-titulo-fluid 1.5s ease-in-out infinite alternate both;
}
@-webkit-keyframes display-4-titulo-fluid {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes display-4-titulo-fluid {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.lead-subtitulo{
  color: rgb(76, 147, 158);
  text-align: bottom;
  font-size: calc(1em + 1vw);
  text-shadow: rgb(15, 14, 14) -1px 1px,rgb(15, 14, 14) -2px 2px;
  margin-top: 15em;
  padding-top: 15.5em;
  padding-bottom:2em;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation: lead-subtitulo 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s infinite both;
  animation: lead-subtitulo 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s infinite both;

}
@-webkit-keyframes lead-subtitulo {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes lead-subtitulo {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
/*banner empresa*/


.jumbotron-fluid-text-center-empresa{
  background-image: url(../img/bannerempresa.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
/*estilo home empresa*/
.imagenEmp{
  margin-top: 10%;
  position:relative;
}
.imagenEmp a{
  position: absolute;
  bottom:4em;
  right:4em;
  color:white;
  padding:1em 1.5em;
  }
  .imagenEmp{
    transition:0.5s;
    cursor:pointer;
  }
  .card-title{  
    transition:1s;
    cursor:pointer;
  }
  .imagenEmp:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .imagenEmp::before, .card-home::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    content: '';
    pointer-events: none;
  }
  .imagenEmp::before {
    transform-origin: left top;
  }
  .imagenEmp::after {
    transform-origin: right bottom;
  }
  .imagenEmp:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }

  .titulo{
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
    font-family: 'Poppins', sans-serif;
  }

  .infoEmp{
    text-align: justify;
    color:#525253;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
  }
  .tituloCardEmp{
    font-family: 'Poppins', sans-serif;
    margin-top:2em;
    text-align: center;
    text-shadow: rgb(15, 14, 14) -0.5px 0.5px ;
    margin-bottom:2em;
    font-size: 2em;
    height: 40px;
  }
  /* estilos barra buscador- vista usuario home*/

.buscador{
  margin-top: 2em;
  margin-bottom:1em;
  font-size: 1.6em;
}

.filtros{
  padding-bottom:1em;
}

/* estilo vista candidatos*/

.table{
  margin-top:8em;
  
}
thead{
  background-color:#a8d6cf; ;
}
.vacio{
  margin-top: 6em;
}
/* estilo formularios*/
.form-control, .mb-3, .form-label{
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}
.modal-title{
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}
.modal-body{
background-color:rgb(229, 247, 242);}

.btn-link{
  color:rgb(113, 159, 176);
}
.btn-link:hover{
 color: rgb(113, 159, 176);
}
.btn-link:active{
  color:#3e3e3f;
}
.logoformulario{
  margin-left:1em;
  margin-right: 38em;
}
.cuerpoconfirmacion{
  margin: 1.5em;
  text-align: justify;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

.tituloconf{
  margin-top:1.5em;
  margin-bottom:1em;
}

/* estilos cv */
.card-header-cv{
  padding-bottom: 0.5em;
  padding-top: 0.8em;
  padding-left: 0.8em;
  border:none; 
}
.btn-outline-primary{
  color:  #3e3e3f;
  border-color: #3e3e3f;
}
.card-cv{
  border:none; 
  font-family: 'Poppins', sans-serif;
  color:#3e3e3f;
  font-size:1.8em;
}
.infocv{
  color:#3e3e3f;
  text-shadow: rgb(146, 146, 146) -1px 1px,rgb(236, 235, 235) -2px 2px;
  font-family: 'Poppins', sans-serif;
 
}
#userDataLabel, #userAcademicLabel, #userExperienceLabel, #userDataLabel{
  font-size:0.8em;
}
.form-control-cv{
  font-size: 1rem;
}
.imputcv{
  margin-left:3em;
  display: flex;
}
.jumbofertas{
  height: 100%;
  align-items: center;
}
.sinofertas{
  background-image: url(../img/sinofertas.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
  padding-right: 1em;
  padding-left:1em;
  padding-top:6em;
  padding-bottom:6em;
  font-weight: bold;
  text-shadow: rgb(185, 218, 233) -1px 1px, rgb(255, 255, 255) -2px 2px;
}
.textobusca{
  text-shadow: rgb(185, 218, 233) -1px 1px, rgb(255, 255, 255) -2px 2px;
  color:#525253;
}
/*dropdown usuario*/

.menusuario{
font-size: 1.5em;
color:#525253;
padding: 0;
}
.menuusuario:hover{
 color: rgb(113, 159, 176);
}
.iconopersona {
  padding-right: 0.5em;
}
.dropdown-item:active{
 background-color:  rgb(113, 159, 176);
}
.dropdown-item{
  color: #525253;
  background-color:rgb(229, 247, 242);
}
.link,.dropusuario{
  font-size: 1em;
  color:#525253;
}
.fa-plus-square{
  color:#525253;
}
.prueba{
  display: flex;
  justify-content: between;
}
.font{
  background-color:rgb(229, 247, 242);
  font-family: 'Poppins', sans-serif;
  font-size:16px;
  color:#3e3e3f;
  padding-top:5%; /* para poder ver los botones de acceso temporal*/
  overflow-x: hidden;
}
@media (max-width: 576px) {
  .prueba{
    display: block;
  }
  .card-home{
    margin-top:14em;
    align-content: center;
  }
  .logonavbar{
    width:150px;
  }
  .social{
    height: 25px;
    margin-top: 5em;
   margin-left: 1.5em;
  }
  .btn-primary-wfh{
    font-size:12px;
  }
  .text-muted-copyright{
    margin-left: 10px;
    text-align: center;
  }
  .list-inline{
    margin-top: 5px;
    padding-left: 3em;
  }
  .menusuario{
    width: 15%;
    align-content: center;
    font-size: 0.9em;
  }
  .textobusca{
    font-size: 1.5em;
  }
  .filter-Container{
    width: 100vw;
  }
  .buscador{
    width: 100vw;
  }
  .card-body-cv{
   
    width: 100vw;
  }
  .card-header{
    width: 100vw;
   
  }
  .imputcv{
    width: 5em;
  }
  .profile{
    width: 80px;
  }
  .imagenEmp{
    width: 100vw;
    margin-top: 10em;
  }
  .tituloCardEmp, .infoEmp, .card-home, .titulo{
    width: 100vw;
  }
 }
.modal-access-denied{
  z-index: 1000;
  position: absolute;
  top: 5%;
  left: 25%;
}