/* 
    General Styles
*/

.jumbotron {
    background-image: url(../img/imagensidebarusuario.jpg);
    background-size: cover;
    height: 100%;}

.display-4{

    padding-top: 10%;
    padding-bottom: 6%;
    color: rgb(154, 107, 216);
    font-style: bold;
   
}

.lead{
    padding-top: 20%;
    margin-top: 100%;
    height: 80%;
    color:rgb(237, 237, 208);
    font-style: italic;
}